body {
    display: grid;
    max-width: 6.6in;

}
* {
    font-family: monospace;
    font-variant: small-caps;
}

.buttons {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

.button1{
    background-color: pink;
    height: 30px;
    margin-left: 20%;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border-color: white;
}

.button1:hover {
    background-color: rgb(254, 207, 215);
}

.cat {
    position: relative;
    width: 30vh;
    left: 42%;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: pink -5px 10px 10px;
    max-width: 720px;
    vertical-align: middle;
}