body {
    display: grid;

}
* {
    font-family: monospace;
    font-variant: small-caps;
}

#button {
    background-color: pink;
    text-align: center;
    margin: 20px 530px;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
}


#button:hover {
    background-color: rgb(254, 207, 215);
}       

#msg {
    text-align: center;
    background-color: pink;
    width: 200px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 20px 470px ;
    font-size: 20px;
    display: none ;
}

.cat {
    position: relative;
    width: 200px;
    left: 39%;
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: pink -5px 10px 10px;
    max-width: 720px;
    vertical-align: middle;
}