
* {
    font-family: monospace;
    font-variant: small-caps;
}

#button {
    background-color: pink;
    text-align: center;
    margin: 10px 120px;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    color: white;
}


#button:hover {
    background-color: rgb(254, 207, 215);
}       

#msg {
    text-align: center;
    background-color: pink;
    width: 200px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    margin: 20px 60px ;
    font-size: 20px;
    display: none;
}

.cat {
    width: 200px;
    margin-left: 20%;
    margin-top: 20%;
    border-radius: 15px;
    box-shadow: pink -5px 10px 10px;
}

@media screen and(min-width: 600px) {
    .cat {
        float:none;
        width: 100%;
    }
}

@media screen and(min-width: 600px) {
    #nsg {
        float: none;
        width: 100%;
    }
}

@media screen and(max-width: 600px) {
    body {
        float: none;
        width: 100%;
    }
}